<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fruit.name %>
</p>

<p>
  <b>Color:</b>
  <%= @fruit.color %>
</p>


<%= button_to 'Edit', edit_fruit_path(@fruit) %> |
<%= link_to 'Back', fruits_path %>
